.Toolbar__Toolbar__2hkfg {
  font-family: Open Sans, sans-serif;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.DrawerToggle__DrawerToggle__1eThf {
  font-family: Open Sans, sans-serif;
  width: 40px;
  height: 100%;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
}

.Toolbar__Logo__24rue {
  font-family: Open Sans, sans-serif;
  height: 80%;
}

.Logo__Logo__2A07e {
  font-family: Open Sans, sans-serif;
  background-color: #fff;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo__Logo__2A07e img {
  font-family: Open Sans, sans-serif;
  height: 100%;
}

.Toolbar__DesktopOnly__15Sc_ {
  font-family: Open Sans, sans-serif;
  height: 100%;
}

.NavigationItems__NavigationItems__3HY9i {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: row;
}



.NavigationItem__NavigationItem__3YSjr {
  font-family: Open Sans, sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.login_style {
  font-family: Open Sans, sans-serif;
  list-style: none;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  color: #fff;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
}

.login-link {
  text-decoration: none;
}

.NavigationItem__active__2GQz1 {
  font-family: Open Sans, sans-serif;
  list-style: none;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 16px 10px;
  background-color: #8f5c2c;
  border-bottom: 4px solid #40a4c8;
  color: #fff;
}

/* .NavigationItem__NavigationItem__3YSjr {
  font-family: Open Sans, sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
} */
