.Layout__Content__3KSp3 {
  font-family: Open Sans, sans-serif;
  margin-top: 72px;
}

.Modal__Modal__cd320 {
  font-family: Open Sans, sans-serif;
  position: fixed;
  z-index: 500;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #000;
  padding: 16px;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  width: 500px;
  left: calc(50% - 250px);
  transform: translateY(-100vh);
  opacity: 0;
}

.Burger__Burger__2h2kL {
  font-family: Open Sans, sans-serif;
  margin: auto;
  text-align: center;
  font-weight: 700;
  overflow-y: auto;
  font-size: 1.2rem;
  width: 700px;
  height: 480px;
}

.BurgerIngredient__BreadTop__2Pkwe {
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  width: 80%;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  height: 20%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  position: relative;
}

.BurgerIngredient__Seeds1__2k2x7 {
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: #fff;
  left: 30%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}

.BurgerIngredient__Seeds2__9Mret {
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: #fff;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0 #c9c9c9;
}

.BurgerIngredient__BreadBottom__2z9NQ {
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  height: 13%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 0 0 30px 30px;
  width: 80%;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
}

.BuildControls__BuildControls__220uz {
  font-family: Open Sans, sans-serif;
  width: 100%;
  background-color: #cf8f2e;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.BuildControl__BuildControl__ibcUQ {
  font-family: Open Sans, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl__Label__2VLnR {
  font-family: Open Sans, sans-serif;
  padding: 10px;
  font-weight: 700;
  width: 80px;
}

.BuildControl__Less__3X6hg {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
  background-color: #daa972;
  color: #fff;
}

.disable_less {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  outline: none;
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: not-allowed;
}

.BuildControl__More__2eQpV {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
  background-color: #8f5e1e;
  color: #fff;
}

.disable-order {
  outline: none;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #966909;
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888;
}

.BuildControls__OrderButton__1ScSk {
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #966909;
  background-color: #a0db41;
  border: 1px solid #966909;
  color: #966909;
  animation: BuildControls__enable__3XAWA 0.3s linear;
}

.lettuseSide {
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  width: 85%;
  height: 7%;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;
}

.baconSide {
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  width: 80%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 2% auto;
}

.cheeseSide {
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  width: 90%;
  height: 4.5%;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
}

.meatSide {
  font-family: Open Sans, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  width: 80%;
  height: 8%;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 15px;
}
